@page
@model Hospital_Management_System_Pages.Pages.Hospital.Employee.MainModel
@{
    ViewData["Title"] = "List of Employee";
}

<style>
    tr > th {
        border-bottom: 1px solid black;
    }

    tr > td {
        border-bottom: 1px solid #cdcdcd;
    }
</style>
<div>
    <div>
        <h1>List of affiliate</h1>
        <p><a href="./Create">Insert Employee</a></p>
    </div>

    <table style="width: 100%;">
        <tr>
            <th>ID</th>
            <th>Full title</th>
            <th>Email</th>
            <th>Mobile</th>
            <th></th>
        </tr>
        @foreach (var item in Model.Employees.Result)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.FullName</td>
                <td>@item.Email</td>
                <td>@item.Mobile</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>

