@page
@model Hospital_Management_System_Pages.Pages.Hospital.Employee.UpdateModel

@{
    ViewData["Title"] = "Update the Employee";
}

<div>
    <div>
        <h1>Update the Employee</h1>
        <p><a asp-page="./Main">Back to List of Employee</a></p>
    </div>

    <form method="post">
        <input name="id" value="@Model.Employee?.Result.Select(x => x.ID)" type="hidden" />

        <p>
            <label>First title</label>
            <input type="text" name="FirstName" value="@Model.Employee.Result.Select(x => x.FirstName)" />
        </p>

        <p>
            <label>Last title</label>
            <input type="text" name="LastName" value="@Model.Employee.Result.Select(x => x.LastName)" />
        </p>

        <p>
            <label>Email</label>
            <input type="text" name="Email" value="@Model.Employee.Result.Select(x => x.Email)" />
        </p>

        <p>
            <label>Mobile</label>
            <input type="text" name="Mobile" value="@Model.Employee.Result.Select(x => x.Mobile)" />
        </p>

        <p>
            <label>Password</label>
            <input type="password" name="Password" value="@Model.Employee.Result.Select(x => x.Password)" />
        </p>

        <input type="submit" value="Save changes" />
    </form>
</div>

